/* Slideshow */

.slideshow {
    margin: 0 auto;
    overflow: hidden;
    max-width: 80%;
}

.slideshowSlider {
    transition: ease 1000ms;
    display: flex;
}

.slide {
    display: flex;
    height: max-content;
    width: 100%;
    border-radius: 40px;
    cursor: pointer;
}

/* Buttons */

.slideshowDots {
    text-align: center;
}

.slideshowDot {
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 50%;

    cursor: pointer;
    margin: 15px 7px 0px;

    background-color: #c4c4c4;
}

.slideshowDot.active {
    background-color: #6a0dad;
}